<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>263618685588-kk2vloqhvqb13l62t83o35vrdcdgcftp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.263618685588-kk2vloqhvqb13l62t83o35vrdcdgcftp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>263618685588-1el7tv5o7t98lpfagm1sjtt61f9spjln.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApP3ZT-3t4lHa3oouopcrvTet1jHZilwE</string>
	<key>GCM_SENDER_ID</key>
	<string>263618685588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.caremeez</string>
	<key>PROJECT_ID</key>
	<string>constitution-simplified</string>
	<key>STORAGE_BUCKET</key>
	<string>constitution-simplified.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:263618685588:ios:7bc3121ad897007799a281</string>
</dict>
</plist>